---
# Compress images on demand (workflow_dispatch).
# Open a Pull Request if any images can be compressed.
name: Compress Images on Demand
on:
  workflow_dispatch:

permissions: read-all

jobs:
  CompressOnDemandOrSchedule:
    name: calibreapp/image-actions
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Compress Images
        id: calibre
        uses: calibreapp/image-actions@f32575787d333b0579f0b7d506ff03be63a669d1 # 1.4.1
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}

      - name: Create New Pull Request If Needed
        if: steps.calibre.outputs.markdown != ''
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          title: Compressed Images
          branch-suffix: timestamp
          commit-message: Compressed Images
          body: ${{ steps.calibre.outputs.markdown }}
