---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: PR Lint

on:
  pull_request:
    branches: [master, main]

permissions: {}

env: # Comment env block if you don't want to apply fixes
  # Apply linter fixes configuration
  APPLY_FIXES: all
  APPLY_FIXES_EVENT: all
  APPLY_FIXES_MODE: commit
  SARIF_REPORTER: true
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      issues: write
      packages: read
      pull-requests: write
      security-events: write
      statuses: write

    steps:
      # https://github.com/ivuorinen/actions
      - uses: ivuorinen/actions/pr-lint@f371da218e9152e7d29ee39358454e41010c36dc # v2026.02.03
