---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Lint Code Base

env:
  MAIN_BRANCH: main
on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

permissions: read-all

jobs:
  lint:
    runs-on: ubuntu-latest

    permissions:
      statuses: write
      contents: read
      packages: read

    steps:
      # https://github.com/ivuorinen/actions
      - uses: ivuorinen/actions/pr-lint@eea547998dbb8028cc6288b830115cbf3b3d65f9 # 25.11.24
